<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="commonMapper">
    <insert id="insertAtchmnfl">
    INSERT INTO T_CM_ATCHMNFL(
        ATCHMNFL_NM
        , ATCHMNFL_ORIGIN_FILE_NM
        , ATCHMNFL_SIZE
        , ATCHMNFL_PATH
        , ATCHMNFL_EXTSN_NM
        , RGSTER_ID
        , RGST_DT
    ) VALUES(
         #{atchmnflNm}
        , #{atchmnflOriginFileNm}
        , #{atchmnflSize}
        , #{atchmnflPath}
        , #{atchmnflExtsnNm}
        , #{rgsterId}
        , NOW()
    )
    </insert>
    <select id="selectAtchmnfl">
        SELECT 
            ATCHMNFL_ID
            , ATCHMNFL_NM
            , ATCHMNFL_ORIGIN_FILE_NM
            , ATCHMNFL_SIZE
            , ATCHMNFL_PATH
            , ATCHMNFL_EXTSN_NM
            , RGSTER_ID
            , RGST_DT
        FROM T_CM_ATCHMNFL
        WHERE ATCHMNFL_ID = #{atchmnflId}
    </select>
    <select id="selectAtchmnflAll">
        SELECT 
            ATCHMNFL_ID
            , ATCHMNFL_NM
            , ATCHMNFL_ORIGIN_FILE_NM
            , ATCHMNFL_SIZE
            , ATCHMNFL_PATH
            , ATCHMNFL_EXTSN_NM
            , RGSTER_ID
            , RGST_DT
        FROM T_CM_ATCHMNFL
    </select>
</mapper>